<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/css/common.css"/>
</head>
<body>

    <header th:insert="~{common/header :: header}"></header>

    <div class="masthead" style="background-image: url(/images/background_header3.jpg)">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                    <h1 class="display-2 fw-light">Admin Accueil</h1>
                </div>
            </div>
        </div>
    </div>

    <p th:text="'Bonjour '+${user.getFirstName()+' !'}">Bonjour Prénom</p>

    <ul>
        <li><a href="/admin/users-management">Users management</a></li>
        <li><a href="#">Player management</a></li>
        <li><a href="#">Famillia management</a></li>
        <li><a href="#">Items management</a></li>
        <br></br>
        <li><a href="#">Monsters management</a></li>
        <li><a href="#">Donjon management</a></li>
        <li><a href="#">Game Forgeron management</a></li>
        <li><a href="#">Game alchimiste management</a></li>
        <li><a href="#">Game enchanteur management</a></li>
        <li><a href="#">Game cuisinier  management</a></li>
        <li><a href="#">gérer les signalements</a></li>
    </ul>


    <footer th:insert="~{common/footer :: footer}"></footer>

    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.6.2/js/bootstrap.bundle.min.js}"></script>
</body>
</html>