<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <title>Admin</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/css/common.css"/>
    <style>
        body {background-color: #D5E4D9;}
        footer {background-color: #ffffff;}
        .container {
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }
    </style>
</head>
<body>

    <header th:insert="~{common/header :: header}"></header>


    <div class="container col-7 my-5 px-3 py-3">


        <h1>Main Admin</h1>
        <h2 th:text="'Bonjour '+${user.getFirstName()+' !'}"></h2>


        <div class="container">
            <div class="row text-center">
                <div class="col-4" >
                    <a href="/admin/users-management" class="d-block py-5 mb-4 bg-info border text-white">Users management</a>
                </div>
                <div class="col-4">
                    <a href="#" class="d-block py-5 mb-4 bg-info border text-white">Player management</a>
                </div>
                <div class="col-4">
                    <a href="#" class="d-block py-5 mb-4 bg-info border text-white">Famillia management</a>
                </div>
                <div class="col-4">
                    <a href="/admin/items-management" class="d-block py-5 mb-4 bg-info border text-white">Items management</a>
                </div>
                <div class="col-4">
                    <a href="#" class="d-block py-5 mb-4 bg-info border text-white">Shop management</a>
                </div>
                <div class="col-4">
                    <a href="/admin/reportList" class="d-block py-5 mb-4 bg-warning border">Manage reports</a>
                </div>
                <div class="col-4">
                    <a href="#" class="d-block py-5 mb-4 bg-info border text-white">Game management</a>
                </div>
            </div>
        </div>

        <h3>Viewed by all user</h3>
        <div class="container">
            <div class="row text-center">
                <div class="col-4" >
                    <a href="/personnage/all" class="d-block py-5 mb-4 bg-secondary border text-white">Users list</a>
                </div>
                <div class="col-4">
                    <a href="/familia/list" class="d-block py-5 mb-4 bg-secondary border text-white">Familia list</a>
                </div>
            </div>
        </div>

    </div>



    <footer th:insert="~{common/footer :: footer}"></footer>

    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.6.2/js/bootstrap.bundle.min.js}"></script>
</body>
</html>