<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Player Info</title>
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/css/common.css"/>
</head>
<body>
<header th:insert="~{common/header :: header}"></header>

<div class="masthead" style="background-image: url(/images/background_header3.jpg)">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="display-2 fw-light">Player Info - NOT WORKING</h1>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row bodySize">
        <div class="col-sm-1 borderImage" style="background-image: url(/images/border1.jpg)"></div>

        <div class="col-sm-10 borderImage">

            Table vide : create player not working

            inventaireInfo

        </div>

        <div class="col-sm-1 borderImage" style="background-image: url(/images/border2.jpg)"></div>
    </div>
</div>










<footer th:insert="~{common/footer :: footer}"></footer>
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.6.2/js/bootstrap.bundle.min.js}"></script>
</body>
</html>