<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container text-center d-flex flex-row flex-wrap p-10 h-100" >

    <th:block th:each="inventoryCell : ${playerInventory}">
        <div class="card my-3 w-25 h-25" th:id="${inventoryCell.getId()}" th:onclick="showItemSell(this, [[${inventoryCell.getQuantity()}]] )" >
            <div class="card-body" style="background-color:#D9D9D9;">
                <img th:unless="${inventoryCell.getItem().getUrlImage() == null}" th:src="'data:image/png;base64,' + ${inventoryCell.getItem().getUrlImage()}" class="mx-auto d-block" style="width: 80%">
            </div>
            <div class="card-footer text-left" th:text="${inventoryCell.getQuantity() + ' x ' + inventoryCell.getItem().getName()}" style="background-color:#FFFFFF; font-family: Inter;"></div>
        </div>
        <div class="col-sm-1"></div>
    </th:block>

    <th:block th:if="${playerInventory.isEmpty()}">
        <div class="container my-4 col-8">
            <h1 class="text-white font-weight-bold">
                Aucun Item Trouver...
            </h1>
        </div>
    </th:block>

</div>
</body>
</html>