<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.2/css/bootstrap.min.css}"/>
  <title>Familias</title>
  <link rel="stylesheet" href="/css/common.css"/>
</head>
<body>
<header th:insert="~{common/header :: header}"></header>
<div class="container-fluid">
  <div class="row bodySize">
    <div class="col-sm-2 borderImage" style="background-image: url(/images/border1.jpg)"></div>
    <div class="col-sm-8" style="background-color:#D5E4D9;">

      <!--Ajouter un bouton pour créer une familia si on n'en a pas-->
      <h1 class="display-5">Liste des familias</h1>
        <table class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>Embleme</th>
            <th>Leader</th>

          </tr>
          </thead>
          <tbody>
          <tr th:each="f : ${familiasWithLeaders}">
            <td class="align-middle text-center">
              <a th:href="@{'/familia/' + ${f.key.id}}">
                <img th:src="'data:image/png;base64,' + ${f.key.embleme_image}" alt="Embleme" style="max-height: 50px;"/>
              </a>
            </td>
            <td class="align-middle">
              <div class="d-flex align-items-center"> <!--Ajouter lien vers page du perso-->
                <span th:text="${f.value.firstName}"></span>
                <span th:text="${f.value.lastName}"></span>
              </div>
            </td>


          </tbody>
        </table>


    </div>
    <div class="col-sm-2 borderImage" style="background-image: url(/images/border2.jpg)"></div>
  </div>
</div>
<footer th:insert="~{common/footer :: footer}"></footer>

<script> th:src="@{/webjars/bootstrap/4.6.2/css/bootstrap.min.css}"</script>
</body>>