<!DOCTYPE HTML> <!--"Esthétique" à compléter-->
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.2/css/bootstrap.min.css}"/>
    <title th:text=" ${leaderFirstName}"></title>
    <link rel="stylesheet" href="/css/common.css"/>
</head>
<body>
<header th:insert="~{common/header :: header}"></header>
<h1 th:text="'Familia de ' + ${leaderFirstName} + ${leaderLastName}"></h1>

<p>Description:</p>
<p th:text="${familia.description}"></p>

<p>Leader:</p> <!--Leader = Dieu-->
<p th:text="${leaderFirstName} + ${leaderLastName}"></p> <!--+ ajouter image-->

<p>Emblème:</p>
<img th:src="'data:image/png;base64,' + ${familia.embleme_image}" style="max-width: 200px;" alt="Embleme de la familia">

<h2>Membres</h2> <!--Chercher parmi les persos ceux qui sont dans la guilde-->

<footer th:insert="~{common/footer :: footer}"></footer>

<script> th:src="@{/webjars/bootstrap/4.6.2/css/bootstrap.min.css}"</script>
</body>
</html>