<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.2/css/bootstrap.min.css}"/>
    <title th:text=" ${leaderFirstName}"></title>
    <link rel="stylesheet" href="/css/common.css"/>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
</head>
<body>
<header th:insert="~{common/header :: header}"></header>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-sm-2 borderImage" style="background-image: url(/images/border1.jpg)"></div>
        <div class="col-sm-8" style="background-color:#D5E4D9;">

            <div class="masthead" style="background-image: url(/images/familia/parchemin.png)">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 text-center">
                            <h1 class="display-4 fw-light text-black-50">Familia de:</h1>
                            <h1 class="display-4 fw-light text-black-50" th:text="${leaderFirstName} + ' ' +  ${leaderLastName}"></h1>
                        </div>
                    </div>
                </div>
            </div>

            <!--Ajouter un bouton pour rejoindre la familia si on n'en a pas-->
            <h1>Description:</h1>
            <p class="text-justify" th:text="${familia.description}"></p>

            <h1>Emblème:</h1>
            <div class="text-center">
                <img th:src="'data:image/png;base64,' + ${familia.embleme_image}" style="width: 250px;" alt="Embleme de la familia">
            </div>

            <div class="container my-5 px-3 py-3">
            <h1>Membres:</h1> <!--Ajouter liens vers leurs pages-->
                <select id="race-filter" class="form-control my-2">
                    <option value="">Toutes races</option>
                    <th:block th:each="race : ${distinctRaces}">
                        <option th:text="${race}"></option>
                    </th:block>
                </select>
            <table id="personnages-table" class="table table-bordered table-striped text-center" style="width:100%">
                <thead class="thead-dark">
                <tr>
                    <th>Image</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Race</th>
                    <th>Niveau</th>
                </tr>
                </thead>
                <tbody>
                <tr class="font-weight-bold">
                    <td>
                        <img th:src="'data:image/png;base64,' + ${leader.getImage()}" alt="Profil picture" style="max-height: 50px;"/>
                    </td>
                    <td th:text="${leader.getFirstName()} + ' (leader)' " ></td>
                    <td th:text="${leader.getLastName()}"></td>
                    <td th:text="${leader.getRace().getDisplayName()}"></td>
                    <td th:text="${leader.getLevel()}"></td>
                </tr>
                <tr th:each="member, stat : ${members}">
                    <td>
                        <img th:src="'data:image/png;base64,' + ${member.getImage()}" alt="Profil picture" style="max-height: 50px;"/>
                    </td>
                    <td th:text="${member.firstName}" ></td>
                    <td th:text="${member.lastName}"></td>
                    <td th:text="${member.race.getDisplayName()}"></td>
                    <td th:text="${member.level}"></td>
                </tr>
                </tbody>
            </table>
                </div>

        </div>
        <div class="col-sm-2 borderImage" style="background-image: url(/images/border2.jpg)"></div>
    </div>
</div>

<footer th:insert="~{common/footer :: footer}"></footer>

<script src="/js/listMembers.js"></script>
</body>
</html>
