<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
	<head>
		<title>Login</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE-edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.2/css/bootstrap.min.css}"/>
	</head>
	<body>


	
		<div class="container-fluid text-center">

			<div class="row vh-100">
				<div class="col d-flex flex-column justify-content-center" style="background-color:#D5E4D9;">
					
					<a href="/home"><img th:src="@{/images/logo.png}" alt="Description de l'image" width="75px"></a>
					<h1>Login</h1>
					<form action="#" th:action="@{/login}" th:object="${user}" method="POST">
						<div class="form-group">
							<input class="form-control mt-3" type="text" th:field="*{email}" id="email" placeholder="test@yahoo.fr">
							<input class="form-control mt-3 input-short" type="password" th:field="*{password}" id="password" placeholder="root">
							<div th:if="${loginError}">
								<p class="text-danger">Email ou mot de passe incorrect</p>
							</div>
							<button type="submit" class="btn btn-light btn-outline-success mt-3">Sign In</button>
							<p><a class="btn mt-3" href="#">Récuperer votre mot de passe</a></p>
						</div>
					</form>
					
				</div>
				<div class="col d-flex flex-column justify-content-center text-white" style="background-color:#67819A;">
					<h2>Vous êtes nouveau</h2>
					<p>Créer un compte maintenant</p>
					<a class="btn btn-light btn-outline-success" href="/subscription"> Sign Up</a>
				</div>
			</div>


		</div>


	<footer th:insert="~{common/footer :: footer}"></footer>

		
		<script th:src="@{/webjars/bootstrap/4.6.2/js/bootstrap.bundle.min.js}"></script>

	</body>
</html>