<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE-edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.2/css/bootstrap.min.css}"/>
		<link th:rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.css}"/>
		<link rel="stylesheet" href="/css/user-profile.css"/>
		<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
		<script th:src="@{/webjars/cropperjs/1.1.3/cropper.min.js}"></script>
		<link rel="stylesheet" th:href="@{/webjars/cropperjs/1.1.3/cropper.min.css}" />
	</head>
	<body>
		<header th:insert="~{common/header :: header}"></header>

		<!-- User & Personnage info-->
		<div class="row">
			<div class="container bg-container mt-5 ml-5 py-3 col-md-6">
				<div class="row">
					<div class="col text-left">
						<p class="h1 ml-2 mt-3" th:text="'Bonjour '+${user.getFirstName()+' !'}">Bonjour Prénom</p>
					</div>
					<div class="col text-right">
						<button class="btn btn-grey" onclick="showDiv('user-information')">
							<i class="bi bi-person-circle" style="font-size: 50px"></i>
						</button>
					</div>
				</div>

				<div class="card-deck mt-3 ml-2">
					<div th:each="personnage : ${personnages}" class="col-md-6 mb-5">
						<div class="card">
							<button onclick="showDiv('player-information', this)" th:id="${personnage.getId()}">
								<img th:src="'data:image/png;base64,' + ${personnage.getImage()}" class="card-img-top" alt="Player Image">
							</button>
							<div class="card-body">
								<h5 class="card-title" th:text="${personnage.getFirstName()} + ' ' + ${personnage.getLastName()}"></h5>
								<p class="card-text" th:text="${personnage.getRace().getDisplayName()} + ' (lvl ' + ${personnage.getLevel()} + ')'"></p>
							</div>
						</div>
					</div>
					<div class="col-md-6 mb-5" th:if="${personnages.size() < 4}">
						<div class="card">
							<div class="card-body d-flex align-items-center justify-content-center">
								<button class="btn btn-grey" onclick="showDiv('create-player')">
									<i class="bi bi-plus" style="font-size: 100px;"></i>
								</button>
							</div>
						</div>
					</div>
				</div>

			</div>

			<div class="bg-information col-md-5 mt-5 px-5 mr-5" style="max-height: 100vh">

				<div class="div-info py-3" id="user-information">
					<h1 class="text-white">Information Utilisateur :</h1>

					<div class="my-5 bg-container">
						<label class="px-2 pt-3">Nom :</label>
						<span th:text="${user.getLastName()}"></span>
						<br>
						<label class="px-2">Prénom :</label>
						<span th:text="${user.getFirstName()}"></span>
						<br>
						<label class="px-2">Username :</label>
						<span th:text="${user.getUsername()}"></span>
					</div>

					<div class="my-5 bg-container">
						<label class="px-2 pt-3">Email :</label>
						<span th:text="${user.getEmail()}"></span>
						<br>
						<label class="px-2">Mot de passe :</label>
						<span>**********</span>
					</div>

					<button class="btn btn-light btn-outline-success d-block mx-auto"  data-toggle="modal" data-target="#userSettingsModal">
						Modifier information <i class="bi bi-pencil-square"></i>
					</button>

				</div>

				<div class="div-info py-3" id="create-player" style="display:none;">
					<h1 class="text-white mb-5">Créer nouveau personnage :</h1>
					<form class="form-group mx-5" id="createPlayerForm" method="post" th:action="@{/save-personnage}" th:object="${newPersonnage}" enctype="multipart/form-data">
						<input class="form-control mb-3" type="text" placeholder="Prénom" th:field="*{firstName}" required>
						<input class="form-control mb-3" type="text" placeholder="Nom" th:field="*{lastName}" required>

						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<button class="btn btn-outline-light" type="button" onclick="clearSelection()" style="height: 38px;">&times;</button>
							</div>
							<select class="form-control" id="race-select" th:field="*{race}" style="height: 38px;" required>
								<option value="" selected disabled>Race</option>
								<option th:each="value : ${T(com.isep.appli.models.enums.Race).values()}" th:value="${value}" th:text="${value.getDisplayName()}"></option>
							</select>
						</div>

						<!-- File input field for selecting image -->
						<input class="form-control mb-3" type="file" id="image-input" name="file" accept="image/*" placeholder="Profil du personnage" required>

						<!-- Hidden input field to store cropped image data -->
						<input type="hidden" id="croppedImageData" name="croppedImageData" required>

						<button class="btn btn-light btn-outline-success d-block mx-auto" type="submit" id="submit-button" onclick="return validateForm()">Créer personnage</button>
					</form>
					<p class="text-danger" th:if="${createPersonaError}" th:value="'Il y a eu une erreur en créant le personnage veuillez reessayer plus tard'"></p>
				</div>

				<div class="div-info py-3" id="player-information" style="display:none;">
					<h1 class="text-white my-3">Information Personnage :</h1>
					<div class="container bg-container py-3">
						<div class="row">
							<div class="col-4">
								<label>Prénom :</label>
								<span id="info-prenom"></span>
								<br>
								<label>Nom :</label>
								<span id="info-nom"></span>
								<br>
								<label>Race :</label>
								<span id="info-race"></span>
							</div>
							<div class="col-6">
								<button class="btn btn-light btn-outline-success btn-lg btn-block mt-3" id="button-race">Fiche race</button>
							</div>
						</div>

					</div>
					<div class="container bg-container py-3 my-4">
						<div class="row">
							<div class="col-4">
								<label>Argent:</label>
								<span id="info-money"></span>
								<br>
								<label>Niveau:</label>
								<span id="info-level"></span>
							</div>
							<div class="col-6">
								<button class="btn btn-light btn-outline-success btn-lg btn-block mt-1 mr-3">Inventaire</button>
							</div>
						</div>
					</div>
					<div class="container bg-container py-3 my-4">
						<label>Description:</label>
						<button class="btn" id="show-description-edit"><i class="bi bi-pencil-square"></i></button>
						<p id="info-description"></p>
						<form id="description-edit" th:action="@{/personnage/description}" method="post" style="display: none">
							<textarea class="form-control" type="text" name="description" id="edit-info-description"></textarea>
							<button class="btn btn-light btn-outline-success" type="submit">Modifier</button>
						</form>
						<br>
						<label>Histoire:</label>
						<button class="btn" id="show-story-edit"><i class="bi bi-pencil-square"></i></button>
						<p id="info-story"></p>
						<form id="story-edit" th:action="@{/personnage/story}" method="post" style="display: none">
							<textarea class="form-control" type="text" name="story" id="edit-info-story"></textarea>
							<button class="btn btn-light btn-outline-success" type="submit">Modifier</button>
						</form>
					</div>

					<div class="row mb-4">
						<div class="col-6 mb-2">
							<button class="btn btn-light btn-outline-success btn-lg btn-block">Messagerie</button>
						</div>
						<div class="col-6 mb-2">
							<button class="btn btn-light btn-outline-success btn-lg btn-block">Familia</button>
						</div>
						<div class="col-6">
							<button class="btn btn-light btn-outline-success btn-lg btn-block">Mini jeu</button>
						</div>
						<div class="col-6">
							<button class="btn btn-light btn-outline-success btn-lg btn-block">Entrer en combat</button>
						</div>
					</div>

					<form id="deleteForm">
						<input type="hidden" id="personnageId" name="id">
						<button class="btn btn-light btn-outline-danger d-block mx-auto" type="submit">Supprimer personnage</button>
					</form>
				</div>

			</div>
		</div>

		<!-- Modal Modify user info-->
		<div class="modal fade" id="userSettingsModal" tabindex="-1" role="dialog" aria-labelledby="userSettingsModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="userSettingsModalLabel">Modification information personnel</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form th:action="@{/modify-user}" method="post" id="modify-user-info-form">
							<div class="form-group">
								<label for="email">Adresse mail:</label>
								<input type="email" class="form-control" id="email" name="email">
								<p class="text-danger" id="emailError"></p>
							</div>
							<div class="form-group">
								<label for="username">Pseudonym:</label>
								<input type="username" class="form-control" id="username" name="username">
								<p class="text-danger" id="usernameError"></p>
							</div>
							<div class="form-group">
								<label for="password">Mot de passe:</label>
								<input type="password" class="form-control" id="password" name="password">
							</div>
							<div class="text-center">
								<button type="submit" class="btn btn-outline-success">Modifier</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal crop image -->
		<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="imageModalLabel">Crop Image</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="text-center">
							<img id="image" src="#" alt="Your image" class="img-fluid" style="max-width: 80%; max-height: 400px;">
						</div>
					</div>
					<div class="modal-footer">
						<button id="cropButton" type="button" class="btn btn-outline-success">Crop Image</button>
					</div>
				</div>
			</div>
		</div>

		<footer th:insert="~{common/footer :: footer}"></footer>

		<script th:src="@{/webjars/bootstrap/4.6.2/js/bootstrap.bundle.min.js}"></script>
		<script src="/js/user-profile.js"></script>

	</body>
</html>