.masthead {
    height: 20vh;
    min-height: 200px;
    background-size: 100% 100%; /*#cover*/
    background-position: 50% 50%;
    background-repeat: no-repeat;
    color: white;
}

.navbar {
    padding: .2rem 1rem;
    /*#background-color: #67819A!important;*/
}

.borderImage {
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.bodySize {
    min-height: 77vh;
}