<!DOCTYPE HTML> <!--"Esthétique" à compléter-->
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.2/css/bootstrap.min.css}"/>
    <title th:text=" ${familia.leaderId}"></title>
</head>
<body>
    <h1 th:text="'Familia de ' + ${familia.leaderId}"></h1>

    <p>Description:</p>
    <p th:text="${familia.description}"></p>

    <p>Leader:</p> <!--Leader = Dieu-->
    <p th:text="${familia.leaderId}"></p> <!--+ ajouter image-->

    <p>Emblème:</p>
    <img th:src="${familia.emblemeImage}" style="max-width: 200px;" />

    <h2>Membres</h2> <!--Chercher parmi les persos ceux qui sont dans la guilde-->

<script> th:src="@{/webjars/bootstrap/4.6.2/css/bootstrap.min.css}"</script>
</body>
</html>