<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container h-50 w-50 bg-info" style="z-index : 10;">
    <div class="row h-100" th:with="shopCell = ${shopCell}">
        <div class="col-sm-4 d-flex flex-column align-content-start" style="background-color:#67819A; font-family: Inter;">
            <h1 id="item-name" th:text="${shopCell.getItem().getName()}"></h1>
            <span th:text="${'Vendu par :' + shopCell.getSeller().getFirstName() + ' ' + shopCell.getSeller().getLastName() }"></span>
            <img id="item-image" th:unless="${shopCell.getItem().getUrlImage() == null}" th:src="'data:image/png;base64,' + ${inventoryCell.getItem().getUrlImage()}">
        </div>
        <div class="col-sm-8 d-flex flex-column h-100" style="background-color:#D5E4D9;">
            <form action="#" th:action="@{/shop/buyItem}" th:object="${shopCell}" method="POST">
                <div class="form-group d-flex flex-column">
                    <label>
                        <h2>Quantité : </h2>
                        <input class="form-control mt-3" type="number" th:name="quantity" th:id="quantity" value="1" th:value="${1}" th:max="${shopCell.getQuantity()}" min="1" th:onchange="updateCost([[${shopCell.getPrice()}]])">
                    </label>
                    <label>
                        <h2>
                            Prix Total :
                        </h2>
                        <input class="form-control mt-3" type="number" th:field="*{price}" id="price" th:value="${shopCell.getPrice()}" readonly>
                    </label>
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-light btn-outline-danger mt-3 w-100" th:onclick="cancel()">Cancel</button>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-light btn-outline-success mt-3 w-100" >Buy</button>
                        </div>
                    </div>
                    <input type="number" class="invisible" th:field="*{id}" id="idItem" th:value="${shopCell.getId()}" readonly>
                </div>
            </form>

            <div th:if="${privateDiscussionCreated}">
                <a th:href="'/chatPage/' + ${privateDiscussionId}" class="btn btn-outline-success"></i>Accéder à la discussion privée</a>
            </div>

            <div th:if="${!privateDiscussionCreated}">
                <form th:action="@{/createDiscussion}" th:object="${newDiscussion}" method="POST">
                    <input type="hidden" th:field="*{firstPersonnageId}" id="firstPersonnageId" name="firstPersonnageId">
                    <input type="hidden" th:field="*{secondPersonnageId}" id="secondPersonnageId" name="secondPersonnageId">
                    <input type="hidden" th:field="*{conversationType}" id="conversationType" name="conversationType">
                    <button type="submit" class="btn btn-outline-success"></i>Créer une discussion privée</button>
                </form>
            </div>

        </div>
    </div>
</div>
<div class="container-fluid row vh-100 bg-dark" style="position: absolute;  opacity: 0.5;" ></div>
</body>
</html>